/* reset */ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global */

html {
  scroll-behavior: smooth;
}

strong, b {
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p{
	font-size: 1.15em;
	text-align:justify;
	line-height: 1.75em;
}

ul {
	font-size: 1.15em;
	line-height: 1.75em;
}

h1 {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.375em;
	font-size: 2.1em;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.325em;
}

h3 {
	font-size: 1.55em;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.225em;
	margin: 0 0 0.3em 0;
}

h4 {
	font-size: 1.3em;
	letter-spacing: 0.075em;
	margin: 0 0 0.1em 0;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.7em;
}

a {
	color: inherit;
	text-decoration: none;
}

#body-wrapper p, ul, a{
	color: #666666;
}

body {
	font-size: 1em;
	font-weight: 200;
	line-height: 1.65;
	font-family: 'Noto Sans JP', sans-serif;
	background: #f4f4f4;
}

.icon > .label {
	display: none;
}

.fa-github:hover {
	color: #6cc644;
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-envelope-square:hover {
	color: #DB4437
}

#stay-in-touch {
	text-align: cetner;
}

.social-links {
	display: inline-block;
}

.social-links li {
	display: inline-block;
	padding: 0 0.5em 0 0.5em;
}

.fit {
	width:100%;
}

.upper-case {
	text-transform: uppercase;
}

.container > h2 {
	color: #444444;
	margin-bottom: 0.6em;
}

@media (max-width: 575.98px) {
	section > h2 {
		letter-spacing: 0.1em;
	}
	section	h3,h4,p,ul,a {
		letter-spacing: 0em;
		text-align: left;
	}
	section h3 {
		font-size: 1.1em;
	}
	section h4 {
		font-size: 1.05em;
	}
	section	p,ul,a {
		font-size: 1em;
	}
}

img{
	width: 100%;
}
.bar-image-container {
	display: flex;
	align-items: center;
}

.row {
	margin-bottom: 2em;
}

/* header */

#header {
	width: 100%;
	height: 100vh;
	min-height: 33rem;
	background-color: #333;
	color: rgba(255, 255, 255);
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20vh 7vw 15vh 7vw;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	cursor: default;
}

@media (max-width: 1366px){
	#header{
		background-attachment: scroll;
	}
}

@media (min-width: 992px){
	#header{
		background-image: url("../images/banner-lg.jpg");
	}
}

@media (min-width: 768px) and (max-width: 991.98px) { 
	#header{
		background-image: url("../images/banner-md.jpg");
	}
}
@media (max-width: 767.98px) {
	#header{
		background-image: url("../images/banner-sm.jpg");
	}
}


#header a {
	color: inherit;
}

#hello h1 {
	font-size: 3.5em; 
	letter-spacing: 0.125em
}

@media (max-width: 575.98px) {
	#hello h1 {
		font-size: 2.9em;
		letter-spacing: 0em;
	}
	#hello h4 {
		font-size: 1.1em;
		letter-spacing: 0em;
	}
}

#about-me{
	padding: 3em 3em 1em 3em;
}


#learn-more-skip {
	margin-top: 2em;
	text-align: center;
}

#learn-more-skip:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 991.98px) {
	#about-me {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
	.about-me__intro > p{
		line-height: 1.45em;
	}
	#learn-more-skip {
		margin-top: 1em;
		text-align: center;
	}
}

.intro-card{
  background-color: rgb(0,0,0,0.5);
}

/* nav */

#navbar {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.navbar-toggler {
	margin-left: 0.5em;
}

.navbar-nav > li{
  margin-left: 1em; 
  /* margin-right: 0.5em; */
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.hidden {
	display: none;
}

/* body */

#content-wrapper {
	width: 100%;
	margin: 0;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content-wrapper > section{
	margin-left: 0em;
	margin-right: 0em;
	padding-top: 4em;
	padding-bottom: 0em;
}

.bar-container {
	padding: 3em 2em 3em 2em;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: left;
}

/* project */

.card-container {
	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 992px) {
	.card-container {
		width: calc(50% - 2em);
	}
}

.card-container .card-image{
	overflow: hidden;
	position: relative;
}

.card-container .card-image:hover img{
	transform: scale(1.1);
}
.card-container .card-image::before{
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}

.card-desc {
	padding: 2em 3.5em 2em 3.5em;
}
.card-desc ul {
	text-align: left;
	margin-bottom: 2em;
}


/* footer */

#footer {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
}

#footer:before {
	content: '';
	display: inline-block;
	width: 6em;
	height: 2px;
	background-color: #666666;
	margin-bottom: 4em;
}

@media (max-width: 575.98px) {
	#stay-in-touch > h3 {
		font-size: 1.1em;
		letter-spacing: 0em;
	}
}
